

.task{
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;

  margin: 0.2rem ;
  padding:0.1rem  0.4rem;
  border-radius: 0.3rem;

}
.task:hover{
  transform: scale(1.02);
}
.task h3,p{
  margin: 0.3rem;
  display: flex;
  justify-content: space-between;
}

.deleteIcon{
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  display: grid;
place-items: center;
  cursor: pointer;
  color : red ;
}
.deleteIcon:hover{
  background: rgba(255, 0, 0, 0.3);
}

.completed{
  text-decoration: line-through;
}