button {
  margin: 0.2rem ;

  padding: 0.5rem 1rem;
  font-weight: 600;
  color: white;
}

button:hover {
  transform: scale(1.05);
}

.green {
  background-color: green;
}

.red {
  background: red;
}

.black {
  background: #000;
  color: white;
}

.height-0 {
  height: 0;
}